body {
    background-color: black;
}

a {
    text-decoration: none;
    color: seashell;
    text-transform: uppercase;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Asap', sans-serif;
    font-size: 0.75rem;
    letter-spacing: 0.2rem;
    padding: 0.2rem;
    margin: 1rem;
}

.top-nav {
    border-left: 1px solid rgba(169, 169, 169, 0.5);
    padding: 1rem;
    margin: 0.5rem;
}

.fa-search {
    transform: rotate(90deg);
    font-size: 1.25rem;
    border: 1px solid rgba(169, 169, 169, 0.5);
    padding: 1rem;
}

/* solutions to get the nav borders shorter than the div width/height: */
/* https://stackoverflow.com/questions/8572952/border-length-smaller-than-div-width/8573101 */
/* .space-brand {
    border-left: 1px solid gray; 
    border-top: 1px solid gray;
} */

/* flex-box */
.top-nav {
    display: flex;
    align-items: baseline;
}

.space-brand {
    flex: 1;
}

.fa-search {
    align
}